<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Test.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - ระบบสารสนเทศเพื่อจัดการเผยแพร่งานวิจัย</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-i2con" />
    <script src="../Scripts/SuperPowerAdmin.js?key=12"></script>
    <script src="../Scripts/AdminNHA.js"></script>
    <style>
        .no-show {
            display: none;
        }

        th {
            text-align: center;
        }

        input {
            display: inline;
        }
    </style>
</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>


        <div id="mainVavbar" runat="server" style="background-color:black; color: white;" class="navbar navbar-default  navbar-fixed-top">
            <div class="" style="height: 70px; background-color: white;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <a class="navbar-brand" runat="server" href="Default.aspx">
                                <img src="~/Images/logo.png" width="180" runat="server" /></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right" >
                            <li class="dropdown ">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span style="color: forestgreen;" class="glyphicon glyphicon-user"></span>
                                    <asp:Label ID="SessionName" runat="server"></asp:Label>
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a onserverclick="Logout" runat="server"><span class="glyphicon glyphicon-log-out" runat="server">ออกจากระบบ</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div style="margin-bottom: 60px">
                <asp:ContentPlaceHolder ID="MainContent" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <hr />
            <footer>
                <p class="text-muted" align="center">&copy; <%: DateTime.Now.Year %> -ระบบสารสนเทศเพื่อจัดการเผยแพร่งานวิจัย Beta</p>
            </footer>
        </div>

    </form>
</body>
</html>
